*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.mhead{
    height: 8.5%;
    width: 500px;
    position: fixed;
   
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* margin-left: 315px; */
    margin-top: -400px; 
    border-radius: 6px 6px 0 0;
    box-shadow: 0px 0px 8px gray;
    font-weight: 700;
    letter-spacing: .5px;
    padding: 20px 20px 12px;
    padding-bottom: 10px;
    background-color: white;
    background-image: linear-gradient(to bottom, rgb(122, 157, 202) , white);
   
    
} 

.mdiv{
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    /* background-color: gray; */
    display: flex;
    justify-content: center;
    align-items: center;
   
   

}
.container{
    height: 350px;
    width: 500px;
    border-radius: 0 0 6px 6px;
    padding: 20px;
    /* background-color: white; */
    box-shadow: 0px 0px 10px gray;
    background-image: url(https://images.pexels.com/photos/695657/pexels-photo-695657.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-repeat: no-repeat;
    background-size: cover;
}
.head{
    color:rgb(53, 52, 52);
}
.entr_citynm{
    width: 500px;
    height: 25px;
    /* font-size: medium; */
    border: 1.5px solid gray;
    border-radius: 4px;
    padding-left: 10px;
    margin-top: 0px;
    outline: none;
    font-weight: bolder;
    text-transform: uppercase;

}

.srch_btn{
    border: none;
    background-color: transparent;
    padding-top: 20px;
    cursor: pointer;
    height: 10px;
}

.component{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn{
    margin-top: -35px;
    margin-left: 10px;
}

#city{
    color: rgb(255, 187, 0);
    font-family: arial black;
    font-size: 20px;
}

.measurement{
    font-family: sans-serif;
    font-weight: bolder;
    color:white;
}

.headings{
    color: rgb(255, 187, 0);
    font-family: Arial Black;
    font-size: 12px;
}
